# Ignore everything
*

# Except these files:

### Non-dotfiles ##################################################

# init.java - A file consisting of a tonne of imports and a clear
# function. To by used with jshell and the `jshell init.java` cmd
!init.java

### Dotfiles ######################################################

# Lesskey - Redefines the keybindings for the `less` pager command
# Changes the `h` key to `quit` instead of help (becomes more vim-
# like to have h as the "back" key. Use the `lesskey` command
!.lesskey               

# Gitignore - This file specifies what dotfiles are available in
# this repository.
!.gitignore

# Background image - Used by i3 (or NixOS) to set the background
# image desktop wallpaper for my i3 setup
!.background_image

# Xmodmap - Use with the `xmodmap .XModmap` command to update the
# keybindings on ThinkPad 13 2nd gen such that PgUp = Home and
# PgDn = End (which are next to the arrow keys)
!.Xmodmap

### Configuration files ###########################################

# qt5 configuration - Configuration for the qt5 GUI toolkit to set
# custom themes. Utilise it with the `qt5ct` command
!.config/qt5ct/*
!.config/qt5ct/qss/*

# Rofi configuration - Configuration for rofi, a dmenu replacement.
# Includes solarized-dark theme for rofi
!.config/rofi/*

# Zathura configuration - Configuration for zathura, a PDF viewer.
# Consists of the solarized dark for zathura
!.config/zathura/*

# GTK3+ configuration - States what themes and icons are in use.
!.config/gtk-3.0/* 

# Ghostwriter configuration - Configuration for ghostwriter, a 
# markdown editor. Includes the solarized dark theme
!.config/ghostwriter/*

# Dunst configuration - Configuration for dunst, a notification
# daemon.
!.config/dunst/*

# Konsole configuration - Configuration for konsole terminal 
# emulator. Solarized dark theme, no scroll bar or menu bar
!.config/konsolerc
!.local/share/konsole/*

# Kitty configuration - Configuration for the kitty terminal
!.config/kitty/kitty.conf

# Fish configuration - Configuration for the fish shell
!.config/fish

# Vim log - A log of all of the stuff that I've learnt in vim
!vim.md

# Face icons - Icons for the desktop lockscreen sddm
!.face
!.face.icon

# Bin directory - Sneaky scripts which are added to my $PATH
!./bin
!./bin/*
